In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
raw_dataset=pd.read_csv("Zomato Chennai Listing 2020.csv")

In [3]:
raw_dataset.shape

(12032, 12)

In [4]:
raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 12 columns):
Zomato URL               12032 non-null object
Name of Restaurant       12032 non-null object
Address                  12032 non-null object
Location                 12032 non-null object
Cuisine                  12032 non-null object
Top Dishes               12032 non-null object
Price for 2              12032 non-null float64
Dining Rating            12032 non-null object
Dining Rating Count      12032 non-null object
Delivery Rating          12032 non-null object
Delivery Rating Count    12032 non-null object
Features                 12032 non-null object
dtypes: float64(1), object(11)
memory usage: 1.1+ MB

# to clean the dataset

In [5]:
raw_dataset.head()

,Zomato URL,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,https://www.zomato.com/chennai/yaa-mohaideen-b...,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,https://www.zomato.com/chennai/sukkubhai-biriy...,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,https://www.zomato.com/chennai/ss-hyderabad-bi...,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,https://www.zomato.com/chennai/kfc-perambur,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,https://www.zomato.com/chennai/tasty-kitchen-p...,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"

In [6]:
# remove unwanted columns like url
raw_dataset.drop(["Zomato URL"],axis=1,inplace=True)

In [7]:
raw_dataset.head()

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"

In [8]:
raw_dataset.isna().sum()

Name of Restaurant       0
Address                  0
Location                 0
Cuisine                  0
Top Dishes               0
Price for 2              0
Dining Rating            0
Dining Rating Count      0
Delivery Rating          0
Delivery Rating Count    0
Features                 0
dtype: int64

In [9]:
raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 11 columns):
Name of Restaurant       12032 non-null object
Address                  12032 non-null object
Location                 12032 non-null object
Cuisine                  12032 non-null object
Top Dishes               12032 non-null object
Price for 2              12032 non-null float64
Dining Rating            12032 non-null object
Dining Rating Count      12032 non-null object
Delivery Rating          12032 non-null object
Delivery Rating Count    12032 non-null object
Features                 12032 non-null object
dtypes: float64(1), object(10)
memory usage: 1.0+ MB

In [10]:
# since raw_dataset.info() gives most of the quantitatative data as an object we must first convert to int datatype.

In [11]:
raw_dataset["Dining Rating"].value_counts()

None    5351
3.6      584
3.5      553
3.7      525
3.4      500
3.3      463
3.8      460
3.2      433
3.9      379
3.1      363
2.0      354
3.0      302
4.0      288
2.9      257
4.1      221
2.8      192
4.2      142
2.7      138
4.3      105
2.6       99
2.5       71
4.4       61
2.4       46
4.5       36
2.3       32
2.2       20
4.6       17
4.7       12
2.1       10
4.9        7
4.8        4
1.9        3
1.7        2
1.0        1
0.3        1
Name: Dining Rating, dtype: int64

In [12]:
raw_dataset["Dining Rating"].replace(to_replace="None",value="0.0",inplace=True)

In [13]:
raw_dataset["Dining Rating"].value_counts()

0.0    5351
3.6     584
3.5     553
3.7     525
3.4     500
3.3     463
3.8     460
3.2     433
3.9     379
3.1     363
2.0     354
3.0     302
4.0     288
2.9     257
4.1     221
2.8     192
4.2     142
2.7     138
4.3     105
2.6      99
2.5      71
4.4      61
2.4      46
4.5      36
2.3      32
2.2      20
4.6      17
4.7      12
2.1      10
4.9       7
4.8       4
1.9       3
1.7       2
1.0       1
0.3       1
Name: Dining Rating, dtype: int64

In [14]:
raw_dataset["Dining Rating"]=raw_dataset["Dining Rating"].astype("float64")

In [15]:
raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 11 columns):
Name of Restaurant       12032 non-null object
Address                  12032 non-null object
Location                 12032 non-null object
Cuisine                  12032 non-null object
Top Dishes               12032 non-null object
Price for 2              12032 non-null float64
Dining Rating            12032 non-null float64
Dining Rating Count      12032 non-null object
Delivery Rating          12032 non-null object
Delivery Rating Count    12032 non-null object
Features                 12032 non-null object
dtypes: float64(2), object(9)
memory usage: 1.0+ MB

In [16]:
raw_dataset["Dining Rating Count"]

0        1500
1        3059
2        1361
3        1101
4         617
         ...
12027    None
12028    None
12029    None
12030    None
12031    None
Name: Dining Rating Count, Length: 12032, dtype: object

In [17]:
raw_dataset["Dining Rating Count"].isna().sum()

0

In [18]:
raw_dataset["Dining Rating Count"].replace(to_replace=["None","Does not offer Dining","Not enough Dining Reviews"],value="0",inplace=True)

In [19]:
raw_dataset["Dining Rating Count"].unique()

array(['1500', '3059', '1361', '1101', '617', '567', '0', '668', '2564',
       '1578', '743', '961', '982', '770', '1266', '1094', '1363', '742',
       '354', '660', '802', '578', '1992', '464', '782', '1180', '1139',
       '457', '625', '1030', '1118', '403', '602', '455', '350', '646',
       '429', '1085', '704', '712', '692', '601', '774', '1059', '409',
       '946', '559', '2162', '523', '908', '1082', '565', '2275', '1288',
       '2449', '835', '842', '1009', '1152', '2485', '731', '1516',
       '1135', '1078', '1225', '849', '768', '2252', '854', '1349',
       '1943', '460', '1262', '5407', '3042', '1096', '983', '771', '345',
       '585', '1027', '669', '1124', '1198', '515', '447', '920', '9410',
       '763', '741', '609', '979', '954', '1464', '794', '816', '780',
       '222', '697', '2994', '1498', '670', '611', '2109', '904', '516',
       '1611', '1258', '374', '509', '705', '764', '1485', '323', '459',
       '721', '653', '682', '2390', '652', '825', '593', '529', '589',
       '2430', '866', '1047', '607', '1307', '696', '769', '1218', '443',
       '437', '1917', '2277', '1534', '1510', '542', '1038', '584',
       '1132', '346', '888', '377', '889', '1658', '256', '906', '917',
       '847', '1044', '2492', '2733', '2546', '1025', '2102', '1304',
       '695', '964', '1068', '2018', '371', '996', '1311', '1281', '1138',
       '1276', '720', '1100', '1881', '1053', '788', '1296', '1625',
       '1147', '332', '798', '689', '1467', '1055', '1013', '2164', '530',
       '1040', '1646', '1208', '2591', '1353', '1907', '1322', '1437',
       '784', '2261', '390', '1511', '1179', '1247', '1043', '1368',
       '1104', '1475', '949', '563', '549', '909', '912', '1335', '381',
       '837', '413', '613', '838', '1197', '867', '872', '897', '877',
       '627', '688', '999', '848', '419', '1191', '450', '711', '851',
       '796', '311', '324', '840', '997', '588', '655', '777', '517',
       '677', '760', '590', '698', '438', '713', '351', '241', '489',
       '715', '649', '678', '700', '596', '633', '551', '358', '637',
       '366', '432', '502', '128', '566', '766', '434', '458', '417',
       '533', '640', '629', '558', '621', '645', '631', '610', '644',
       '557', '599', '626', '586', '619', '475', '534', '638', '379',
       '382', '531', '581', '575', '340', '547', '498', '740', '363',
       '572', '410', '387', '564', '294', '436', '552', '301', '708',
       '456', '504', '378', '452', '465', '445', '522', '488', '499',
       '361', '462', '285', '469', '497', '454', '490', '482', '492',
       '511', '479', '507', '468', '198', '383', '400', '348', '444',
       '528', '291', '480', '391', '441', '440', '430', '424', '339',
       '412', '402', '519', '274', '319', '320', '397', '266', '254',
       '244', '347', '343', '247', '375', '385', '277', '365', '281',
       '548', '380', '243', '307', '372', '369', '357', '322', '520',
       '433', '271', '421', '370', '514', '376', '337', '333', '309',
       '219', '272', '169', '296', '401', '352', '331', '329', '326',
       '349', '316', '439', '308', '299', '408', '404', '295', '300',
       '263', '328', '289', '293', '442', '255', '312', '287', '335',
       '278', '341', '394', '282', '276', '315', '267', '261', '416',
       '264', '265', '364', '298', '210', '188', '223', '257', '259',
       '310', '248', '168', '246', '250', '147', '233', '275', '240',
       '213', '252', '208', '239', '237', '85', '227', '226', '225',
       '118', '344', '214', '207', '205', '283', '304', '201', '195',
       '334', '202', '199', '197', '165', '216', '353', '268', '196',
       '170', '236', '367', '185', '209', '262', '286', '187', '127',
       '228', '178', '180', '325', '215', '176', '194', '101', '245',
       '330', '292', '172', '279', '163', '200', '164', '145', '305',
       '161', '203', '157', '260', '155', '221', '159', '217', '119',
       '189', '251', '111', '148', '220', '115', '238', '140', '288',
       '284', '173', '232', '242', '134', '135', '269', '125', '130',
       '129', '193', '138', '235', '158', '113', '106', '104', '234',
       '280', '112', '218', '131', '84', '297', '79', '270', '94', '105',
       '167', '211', '206', '166', '146', '204', '249', '143', '182',
       '139', '132', '230', '110', '190', '192', '109', '156', '229',
       '184', '179', '141', '174', '64', '102', '90', '116', '76', '120',
       '212', '123', '162', '81', '51', '89', '98', '142', '107', '124',
       '133', '152', '149', '40', '50', '103', '160', '151', '93', '183',
       '181', '72', '153', '186', '122', '108', '150', '144', '54', '137',
       '117', '121', '69', '31', '87', '171', '91', '82', '99', '100',
       '86', '114', '77', '35', '88', '61', '96', '126', '66', '11', '97',
       '74', '65', '23', '95', '59', '136', '60', '70', '71', '68', '75',
       '37', '63', '83', '73', '78', '44', '25', '92', '33', '48', '80',
       '45', '56', '55', '53', '62', '49', '43', '39', '28', '52', '41',
       '67', '19', '17', '32', '42', '47', '38', '58', '34', '57', '30',
       '29', '24', '21', '46', '26', '36', '27', '18', '13', '16', '20',
       '22', '8', '4', '9', '15', '14', '5', '10', '12', '7', '6', '3414',
       '603', '556', '732', '797', '730', '967', '748', '890', '828',
       '681', '821', '1201', '755', '636', '574', '471', '503', '799',
       '306', '473', '1223', '754', '654', '1565', '884', '487', '1260',
       '1159', '426', '191', '175', '420', '616', '415', '399', '317',
       '258', '1428', '901', '1018', '959', '1559', '832', '1097', '987',
       '907', '425', '812', '674', '540', '560', '303', '642', '356',
       '327', '1263', '1065', '392', '495', '639', '1387', '776', '641',
       '336', '231', '604', '895', '537', '544', '491', '321', '384',
       '290', '177', '1267', '1302', '5073', '1739', '814', '5317',
       '2113', '1942', '4805', '3056', '4478', '472', '302', '3', '527',
       '615', '658', '414', '1165', '622', '634', '453', '1893', '2244',
       '5821', '1620', '2405', '587', '405', '1083', '745', '2341', '728',
       '623', '570', '446', '318', '683', '431', '359', '858', '477',
       '388', '273', '253', '224'], dtype=object)

In [20]:
raw_dataset["Dining Rating Count"]=raw_dataset["Dining Rating Count"].astype("int64")

In [21]:
raw_dataset["Delivery Rating"].unique()

array(['4.3', '4.1', '4.4', '4.0', '3.8', '4.2', '3.9', '3.6', 'None',
       '3.3', '3.4', '3.7', '3.5', '4.5', '2.9', '4.6', '3.1', '2.7',
       '3.2', '3.0', '2.8', '2.3', '2.4', '2.5', '4.7', '2.6', '2.2',
       '2.1', '2.0', '1.8', '1.6', '1.5', '0.3'], dtype=object)

In [22]:
raw_dataset["Delivery Rating"].value_counts()

None    5851
3.9     1383
3.8      701
4.0      570
3.7      559
4.1      468
3.6      465
4.2      401
3.5      314
4.3      277
3.4      259
3.3      189
4.4      128
3.2       93
3.1       79
3.0       63
4.5       55
2.9       39
2.8       26
4.6       24
2.7       19
2.6       17
2.5        9
0.3        8
2.4        7
1.8        5
2.2        5
2.0        5
2.3        5
4.7        4
2.1        2
1.5        1
1.6        1
Name: Delivery Rating, dtype: int64

In [23]:
raw_dataset["Delivery Rating"].replace(to_replace="None",value="0.0",inplace=True)

In [24]:
raw_dataset["Delivery Rating"]=raw_dataset["Delivery Rating"].astype("float64")

In [25]:
raw_dataset["Delivery Rating Count"].value_counts()

Not enough Delivery Reviews    3379
Does not offer Delivery        2252
None                            220
27                               34
37                               30
                               ...
643                               1
1894                              1
1635                              1
1315                              1
625                               1
Name: Delivery Rating Count, Length: 2282, dtype: int64

In [26]:
raw_dataset["Delivery Rating Count"].unique()

array(['9306', '39200', '10500', ..., '875', '539', '1617'], dtype=object)

In [27]:
raw_dataset["Delivery Rating Count"].replace(to_replace=["None","Not enough Delivery Reviews","Does not offer Delivery"],value="0",inplace=True)

In [28]:
raw_dataset["Delivery Rating Count"]=raw_dataset["Delivery Rating Count"].astype("int64")

In [29]:
raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 11 columns):
Name of Restaurant       12032 non-null object
Address                  12032 non-null object
Location                 12032 non-null object
Cuisine                  12032 non-null object
Top Dishes               12032 non-null object
Price for 2              12032 non-null float64
Dining Rating            12032 non-null float64
Dining Rating Count      12032 non-null int64
Delivery Rating          12032 non-null float64
Delivery Rating Count    12032 non-null int64
Features                 12032 non-null object
dtypes: float64(3), int64(2), object(6)
memory usage: 1.0+ MB

In [30]:
raw_dataset.corr()# we r jus checking correlation btw quantitative data so that if theres any redundant columns we can delete it.

,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count
Price for 2,1.000000,0.316315,0.328808,0.023037,0.070345
Dining Rating,0.316315,1.000000,0.351263,0.354457,0.230963
Dining Rating Count,0.328808,0.351263,1.000000,0.193091,0.439738
Delivery Rating,0.023037,0.354457,0.193091,1.000000,0.294879
Delivery Rating Count,0.070345,0.230963,0.439738,0.294879,1.000000

In [31]:
raw_dataset.head()
# we r checking if we need to modify any columns
# we can split address
#we need to remove special characters

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"

# now lets go one by one
# 1. name of the restaurant
raw_dataset["Name of Restaurant"].value_counts()
# we r going to check both cos if there are any None values we need to remove those rows

In [32]:
raw_dataset["Name of Restaurant"].value_counts()

Amma Unavagam                     78
CK's Bakery                       71
Domino's Pizza                    66
Lassi Shop                        58
Cafe Coffee Day                   51
                                  ..
Tattu Idly & Variety Dosa shop     1
Cafe de Luxe                       1
Hotel Sivari                       1
Malliz                             1
7 Meals                            1
Name: Name of Restaurant, Length: 8369, dtype: int64

In [33]:
raw_dataset["Name of Restaurant"].unique()

array(['Yaa Mohaideen Briyani', 'Sukkubhai Biriyani',
       'SS Hyderabad Biryani', ..., 'House of Candy', 'OVO and LATTEE',
       "CK's Sandwiches"], dtype=object)

# 2 we r going to check Address

In [34]:
raw_dataset["Address"].value_counts()# here we hv delivery only as the name and location of the address which is useless so 
#we remove that.

 Delivery Only                                                           443
 92, OMR Road, Navallur, Chennai                                          15
 Old 110/1, New 138, Habibullah Road, T. Nagar, Chennai                   11
 Akshaya Food Court, Ambit IT Park, 1st Cross Road, Ambattur, Chennai     11
 OMR Food Street, Navallur, Chennai                                        8
                                                                        ...
 38, Near KS Academy, Arya Gowda Road, West Mambalam, Chennai              1
 3/43, Rajiv Gandhi Salai, Old Mahabalipuram Road (OMR), Chennai           1
 2/33A, Velachery Main Road, Gowrivakkam, Selaiyur, Chennai                1
 3/397, OMR, Mettukuppam, Thuraipakkam, Chennai                            1
 265, Avadi Check Post, CTH Road, Avadi, Chennai                           1
Name: Address, Length: 10828, dtype: int64

In [35]:
#1. we strip extra spaces from all values in our address column and always check if u want to modify any column.
raw_dataset["Address"].str.strip()

0                336 & 338, Main Road, Pallavaram, Chennai
1        New 14, Old 11/3Q, Railway Station Road, MKN R...
2        98/339, Arcot Road, Opposite Gokulam Chit Fund...
3        10, Periyar Nagar, 70 Feet Road, Near Sheeba H...
4        135B, SRP Colony, Peravallur, Near Perambur, C...
                               ...
12027                                        Delivery Only
12028                                        Delivery Only
12029                                        Delivery Only
12030                                        Delivery Only
12031                                        Delivery Only
Name: Address, Length: 12032, dtype: object

In [36]:
# 2 . no we r going to create a condition to check if None and Delivery Only exists and store them as useless data
raw_dataset["Address"].str.strip()
useless_data=raw_dataset["Address"].isin(["None","Delivery Only"])#
# we r using .isin() method to check for 2 unwanted strings at a time instead of ==

In [37]:
useless_data# this gives a boolean series

0        False
1        False
2        False
3        False
4        False
         ...
12027    False
12028    False
12029    False
12030    False
12031    False
Name: Address, Length: 12032, dtype: bool

In [38]:
raw_dataset=raw_dataset[~useless_data]

In [39]:
raw_dataset

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...,...
12027,CK's Sandwiches,Delivery Only,Porur,['Sandwich'],Invalid,350.0,0.0,0,0.0,0,"['Breakfast', 'Delivery Only']"
12028,CK's Sandwiches,Delivery Only,Kolathur,['Sandwich'],Invalid,350.0,0.0,0,0.0,0,"['Breakfast', 'Delivery Only']"
12029,CK's Sandwiches,Delivery Only,Anna Nagar East,['Sandwich'],Invalid,350.0,0.0,0,0.0,0,"['Breakfast', 'Delivery Only']"
12030,CK's Sandwiches,Delivery Only,Ramapuram,['Sandwich'],Invalid,350.0,0.0,0,0.0,0,"['Breakfast', 'Delivery Only']"
12031,CK's Sandwiches,Delivery Only,Sholinganallur,['Sandwich'],Invalid,350.0,0.0,0,0.0,0,"['Breakfast', 'Delivery Only']"

# 3 we r going to drop the location column as it is already present in Address

In [40]:
raw_dataset.drop("Location",axis=1,inplace=True)

# 4 we r going to modify cuisine by removing special characters

In [41]:
raw_dataset["Cuisine"].value_counts()

['South Indian']                                                   883
['Fast Food']                                                      295
['Bakery']                                                         266
['South Indian', ' Chinese']                                       233
['Biryani']                                                        225
                                                                  ...
['Desserts', ' Beverages', ' Pizza']                                 1
['Fast Food', ' North Indian', ' South Indian', ' Beverages']        1
['North Indian', ' Chettinad', ' South Indian', ' Finger Food']      1
['Fast Food', ' Street Food', ' Juices']                             1
['Biryani', ' North Indian', ' Chettinad', ' Chinese']               1
Name: Cuisine, Length: 2423, dtype: int64

In [42]:
raw_dataset["Cuisine"].str.strip()

0                                              ['Biryani']
1        ['Biryani', ' North Indian', ' Mughlai', ' Des...
2        ['Biryani', ' North Indian', ' Chinese', ' Ara...
3        ['Burger', ' Fast Food', ' Finger Food', ' Bev...
4        ['Chinese', ' Biryani', ' North Indian', ' Che...
                               ...
12027                                         ['Sandwich']
12028                                         ['Sandwich']
12029                                         ['Sandwich']
12030                                         ['Sandwich']
12031                                         ['Sandwich']
Name: Cuisine, Length: 12032, dtype: object

In [45]:
raw_dataset["Cuisine"]=raw_dataset["Cuisine"].str.replace(r"[\[\]']","",regex=True)

In [47]:
raw_dataset.head()

,Name of Restaurant,Address,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Biryani,"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...","Biryani, North Indian, Mughlai, Desserts, ...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...","Biryani, North Indian, Chinese, Arabian","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...","Burger, Fast Food, Finger Food, Beverages",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...","Chinese, Biryani, North Indian, Chettinad, ...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"

# 5. we r going to modify Top Dishes by removing special characters

In [48]:
raw_dataset["Top Dishes"].unique()

array(["['Bread Halwa', ' Chicken 65', ' Mutton Biryani', ' Chicken Biryani', ' Brinjal Gravy', ' Basmati Rice', ' Raita']",
       "['Beef Biryani', ' Beef Fry', ' Paratha', ' Paya', ' Brinjal Curry', ' Chicken 65', ' Chicken Biryani']",
       "['Brinjal Curry', ' Tandoori Chicken', ' Chicken Grill', ' Brinjal Gravy', ' Hyderabadi Biryani', ' Mutton Biryani', ' Chicken 65']",
       ...,
       "['Burgers', ' Chicken Sandwich', ' Pizza Sandwich', ' Monster Shake', ' Mexican Cheese Fries', ' Chicken Burger', ' French Fries']",
       "['Blackforest Cake']", "['Chaat', ' Rasmalai']"], dtype=object)

In [49]:
raw_dataset["Top Dishes"].value_counts()

Invalid                                                                                             9641
['Biryani']                                                                                           30
['Coffee']                                                                                            14
['Chicken Biryani']                                                                                   12
['Sandwich']                                                                                          11
                                                                                                    ...
['Burgers', ' Chicken Popcorn', ' Chicken Nuggets', ' Chicken Bucket', ' French Fries']                1
['Chai', ' Cheese Biryani', ' Momos', ' Pasta', ' Vada Pav', ' Maggi', ' Honey Chilli Potatoes']       1
['Filtered Coffee', ' Pongal', ' Tea', ' Chaat', ' Plain Dosa', ' Veg Manchurian', ' Thali']           1
['Sushi', ' Salmon', ' Tea', ' Ramen', ' Prawn', ' Tempura Prawns', ' Kimchi Salad']                   1
['Chicken 65', ' Mutton Biryani', ' Raita', ' Chicken Biryani']                                        1
Name: Top Dishes, Length: 2190, dtype: int64

In [50]:
# so there r no redundant infos or null values
# now we jus hv to remove the special characters
raw_dataset["Top Dishes"].str.split()

0        [['Bread, Halwa',, ', Chicken, 65',, ', Mutton...
1        [['Beef, Biryani',, ', Beef, Fry',, ', Paratha...
2        [['Brinjal, Curry',, ', Tandoori, Chicken',, '...
3                                     [['Zinger, Burger']]
4        [['Mutton, Biryani',, ', Chicken, Rice',, ', T...
                               ...
12027                                            [Invalid]
12028                                            [Invalid]
12029                                            [Invalid]
12030                                            [Invalid]
12031                                            [Invalid]
Name: Top Dishes, Length: 12032, dtype: object

In [52]:
raw_dataset["Top Dishes"]=raw_dataset["Top Dishes"].str.replace(r"[\[\]']","",regex=True)

In [55]:
#now we replace the invalid =na
raw_dataset["Top Dishes"]=raw_dataset["Top Dishes"].replace(to_replace="Invalid",value="N.A")

# 6.we r going to modify Features by removing special characters

In [56]:
raw_dataset["Features"].unique()

array(["['Home Delivery', 'Indoor Seating']",
       "['Home Delivery', 'Free Parking', 'Table booking recommended', 'Indoor Seating']",
       "['Home Delivery', 'Free Parking', 'Card Upon Delivery', 'Indoor Seating', 'Wifi']",
       ...,
       "['Home Delivery', 'Free Parking', 'Indoor Seating', 'Wifi', 'Rooftop']",
       "['Home Delivery', 'Vegetarian Only', 'Indoor Seating', 'Group Meal']",
       "['Home Delivery', 'Vegetarian Only', 'Group Meal', 'Indoor Seating']"],
      dtype=object)

In [57]:
raw_dataset["Features"].value_counts()

['Home Delivery', 'Indoor Seating']                                                                                                                                                                      2447
['Delivery Only']                                                                                                                                                                                         961
['Home Delivery']                                                                                                                                                                                         759
['Indoor Seating']                                                                                                                                                                                        569
['Breakfast', 'Home Delivery', 'Indoor Seating']                                                                                                                                                          485
                                                                                                                                                                                                         ...
['Breakfast', 'Home Delivery', 'Indoor Seating', 'Outdoor Seating', 'Free Parking']                                                                                                                         1
['Home Delivery', 'Vegetarian Only', 'Free Parking', 'Indoor Seating', 'Buffet', 'Desserts and Bakes', 'Dance Floor', 'Live Music', 'Kid Friendly', 'Private Dining Area Available', 'Vegan Options']       1
['Wheelchair Accessible', 'Full Bar Available', 'Indoor Seating', 'Live Entertainment', '4/5 Star', 'Nightlife', 'Wifi', 'Free Parking']                                                                    1
['Wheelchair Accessible', 'Full Bar Available', 'Outdoor Seating', 'Wifi', 'Valet Parking Available', '4/5 Star', 'Table reservation required', 'Luxury Dining', 'Buffet']                                  1
['Home Delivery', 'Vegetarian Only', 'Indoor Seating', 'Table booking recommended', 'Catering Available']                                                                                                   1
Name: Features, Length: 1554, dtype: int64

In [59]:
raw_dataset["Features"].str.split()

0                 [['Home, Delivery',, 'Indoor, Seating']]
1        [['Home, Delivery',, 'Free, Parking',, 'Table,...
2                 [['Home, Delivery',, 'Indoor, Seating']]
3        [['Home, Delivery',, 'Free, Parking',, 'Card, ...
4                 [['Home, Delivery',, 'Indoor, Seating']]
                               ...
12027                   [['Breakfast',, 'Delivery, Only']]
12028                   [['Breakfast',, 'Delivery, Only']]
12029                   [['Breakfast',, 'Delivery, Only']]
12030                   [['Breakfast',, 'Delivery, Only']]
12031                   [['Breakfast',, 'Delivery, Only']]
Name: Features, Length: 12032, dtype: object

In [61]:
raw_dataset["Features"]=raw_dataset["Features"].str.replace(r"[\[\[\]\]']","",regex=True)

In [62]:
raw_dataset.head()

,Name of Restaurant,Address,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Biryani,"Bread Halwa, Chicken 65, Mutton Biryani, Ch...",500.0,4.3,1500,4.3,9306,"Home Delivery, Indoor Seating"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...","Biryani, North Indian, Mughlai, Desserts, ...","Beef Biryani, Beef Fry, Paratha, Paya, Bri...",1000.0,4.4,3059,4.1,39200,"Home Delivery, Free Parking, Table booking rec..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...","Biryani, North Indian, Chinese, Arabian","Brinjal Curry, Tandoori Chicken, Chicken Gri...",500.0,4.3,1361,4.4,10500,"Home Delivery, Indoor Seating"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...","Burger, Fast Food, Finger Food, Beverages",Zinger Burger,500.0,4.0,1101,4.0,11200,"Home Delivery, Free Parking, Card Upon Deliver..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...","Chinese, Biryani, North Indian, Chettinad, ...","Mutton Biryani, Chicken Rice, Tomato Rice, ...",450.0,4.2,617,4.1,22400,"Home Delivery, Indoor Seating"

# 7 we r going to check for duplicate records

In [64]:
raw_dataset.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
12027     True
12028     True
12029     True
12030     True
12031     True
Length: 12032, dtype: bool

In [66]:
raw_dataset.drop_duplicates(inplace=True)

In [67]:
raw_dataset.shape

(11953, 10)

In [68]:
raw_dataset

,Name of Restaurant,Address,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Biryani,"Bread Halwa, Chicken 65, Mutton Biryani, Ch...",500.0,4.3,1500,4.3,9306,"Home Delivery, Indoor Seating"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...","Biryani, North Indian, Mughlai, Desserts, ...","Beef Biryani, Beef Fry, Paratha, Paya, Bri...",1000.0,4.4,3059,4.1,39200,"Home Delivery, Free Parking, Table booking rec..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...","Biryani, North Indian, Chinese, Arabian","Brinjal Curry, Tandoori Chicken, Chicken Gri...",500.0,4.3,1361,4.4,10500,"Home Delivery, Indoor Seating"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...","Burger, Fast Food, Finger Food, Beverages",Zinger Burger,500.0,4.0,1101,4.0,11200,"Home Delivery, Free Parking, Card Upon Deliver..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...","Chinese, Biryani, North Indian, Chettinad, ...","Mutton Biryani, Chicken Rice, Tomato Rice, ...",450.0,4.2,617,4.1,22400,"Home Delivery, Indoor Seating"
...,...,...,...,...,...,...,...,...,...,...
12007,Inlayers,"150/28, 2/38, Cisons Complex, Montieth Road, ...","Bakery, Desserts",N.A,700.0,0.0,0,0.0,0,"Home Delivery, Indoor Seating, Desserts and Bakes"
12008,Inlayers,"18, Shop 1, Ground Floor, Station View Road, ...","Bakery, Desserts",N.A,700.0,0.0,0,0.0,0,"Home Delivery, Indoor Seating, Desserts and Bakes"
12009,Inlayers,"New 86, Old 72, Ground Floor, 4th Avenue, Ash...","Bakery, Desserts",N.A,700.0,0.0,0,0.0,0,"Home Delivery, Desserts and Bakes, Indoor Seating"
12010,Inlayers,"21/10, Rajeswari Tower, Bungalow, 1st Street,...","Bakery, Desserts",N.A,700.0,0.0,0,0.0,0,"Home Delivery, Desserts and Bakes, Indoor Seating"
12019,CK's Sandwiches,Delivery Only,Sandwich,N.A,350.0,0.0,0,0.0,0,"Breakfast, Delivery Only"

# 8 now we r going to remove rows with values 0 from dining rating, ding rating count,delivery rating, and count

In [75]:
useless_data=(raw_dataset["Dining Rating"]==0.0)|(raw_dataset["Delivery Rating"]==0.0)|(raw_dataset["Dining Rating Count"]==0)|(raw_dataset["Delivery Rating Count"]==0)

In [76]:
useless_data

0        False
1        False
2        False
3        False
4        False
         ...
12007     True
12008     True
12009     True
12010     True
12019     True
Length: 11953, dtype: bool

In [79]:
raw_dataset=raw_dataset[~useless_data]

In [80]:
raw_dataset

,Name of Restaurant,Address,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Biryani,"Bread Halwa, Chicken 65, Mutton Biryani, Ch...",500.0,4.3,1500,4.3,9306,"Home Delivery, Indoor Seating"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...","Biryani, North Indian, Mughlai, Desserts, ...","Beef Biryani, Beef Fry, Paratha, Paya, Bri...",1000.0,4.4,3059,4.1,39200,"Home Delivery, Free Parking, Table booking rec..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...","Biryani, North Indian, Chinese, Arabian","Brinjal Curry, Tandoori Chicken, Chicken Gri...",500.0,4.3,1361,4.4,10500,"Home Delivery, Indoor Seating"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...","Burger, Fast Food, Finger Food, Beverages",Zinger Burger,500.0,4.0,1101,4.0,11200,"Home Delivery, Free Parking, Card Upon Deliver..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...","Chinese, Biryani, North Indian, Chettinad, ...","Mutton Biryani, Chicken Rice, Tomato Rice, ...",450.0,4.2,617,4.1,22400,"Home Delivery, Indoor Seating"
...,...,...,...,...,...,...,...,...,...,...
11666,Juice World,"85A, Ground Floor, Railway Station Road, Alan...","Beverages, Fast Food",N.A,300.0,2.0,4,3.9,42,"Home Delivery, Vegetarian Only, Indoor Seating"
11667,Juice World,"2/182, Periyar Road, Palavakkam, Chennai","Beverages, Fast Food",N.A,300.0,2.0,4,3.9,48,"Home Delivery, Vegetarian Only, Indoor Seating"
11736,Adyar Vaishnavas Thattu Idly Kadai,"3/103, Mugalivakkam Main Road, Madanandapuram...","South Indian, Sandwich, Chinese, Street Food",N.A,200.0,3.2,6,3.9,48,"Home Delivery, Indoor Seating"
11785,Engineers Kitchen,"24 A, AIC Colony, Athipet, Ambattur, Chennai","North Indian, Chinese, Andhra",N.A,400.0,2.5,6,3.5,214,"Home Delivery, Indoor Seating"
11794,That Juice Shop,"7, Gopra OMR Bazaar, Karapakkam, Chennai","Juices, Beverages",N.A,200.0,3.6,6,4.2,157,"Home Delivery, Indoor Seating"

# 9 now we copy this to an actual df

In [81]:
zom_chennai=raw_dataset

In [82]:
zom_chennai

,Name of Restaurant,Address,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Biryani,"Bread Halwa, Chicken 65, Mutton Biryani, Ch...",500.0,4.3,1500,4.3,9306,"Home Delivery, Indoor Seating"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...","Biryani, North Indian, Mughlai, Desserts, ...","Beef Biryani, Beef Fry, Paratha, Paya, Bri...",1000.0,4.4,3059,4.1,39200,"Home Delivery, Free Parking, Table booking rec..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...","Biryani, North Indian, Chinese, Arabian","Brinjal Curry, Tandoori Chicken, Chicken Gri...",500.0,4.3,1361,4.4,10500,"Home Delivery, Indoor Seating"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...","Burger, Fast Food, Finger Food, Beverages",Zinger Burger,500.0,4.0,1101,4.0,11200,"Home Delivery, Free Parking, Card Upon Deliver..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...","Chinese, Biryani, North Indian, Chettinad, ...","Mutton Biryani, Chicken Rice, Tomato Rice, ...",450.0,4.2,617,4.1,22400,"Home Delivery, Indoor Seating"
...,...,...,...,...,...,...,...,...,...,...
11666,Juice World,"85A, Ground Floor, Railway Station Road, Alan...","Beverages, Fast Food",N.A,300.0,2.0,4,3.9,42,"Home Delivery, Vegetarian Only, Indoor Seating"
11667,Juice World,"2/182, Periyar Road, Palavakkam, Chennai","Beverages, Fast Food",N.A,300.0,2.0,4,3.9,48,"Home Delivery, Vegetarian Only, Indoor Seating"
11736,Adyar Vaishnavas Thattu Idly Kadai,"3/103, Mugalivakkam Main Road, Madanandapuram...","South Indian, Sandwich, Chinese, Street Food",N.A,200.0,3.2,6,3.9,48,"Home Delivery, Indoor Seating"
11785,Engineers Kitchen,"24 A, AIC Colony, Athipet, Ambattur, Chennai","North Indian, Chinese, Andhra",N.A,400.0,2.5,6,3.5,214,"Home Delivery, Indoor Seating"
11794,That Juice Shop,"7, Gopra OMR Bazaar, Karapakkam, Chennai","Juices, Beverages",N.A,200.0,3.6,6,4.2,157,"Home Delivery, Indoor Seating"